footer{
    color: #fff;
    background-color: #009688;
    margin-top: 16px;
    text-align: center;
    padding: 0.01em 16px;
}

footer p{
    margin: 15px;
}

footer p a{
    text-decoration: none;
    color: white;
}