* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  background-color: #f1f1f1;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 10px 0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-column-gap: 10px;
  padding: 10px;
}